<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MyFlock</title>
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="images/Designer.png" type="image/x-icon">
 
</head>
<body>
   
    <label for="username2">Username:</label>
    <input type="text" id="username2" name="username">
    <label for="password2">Password:</label>
    <input type="text" id="password2" name="password">
    <a onclick="adduser(username, email, password)" href="#" class="button">Hello</a>



  <script src="index.js"></script>
</body>
</html>
